<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand">PonyRacer</a>
  <button type="button" class="navbar-toggler navbar-toggler-right" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbar" class="navbar-collapse" [class.collapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto" *ngIf="!getAuthenticatedUser(); else racesMenu">
      <li class="nav-item">
          <a routerLink="login" routerLinkActive="router-link-active">Login</a>
      </li>
      <li class="nav-item">
          <a>Register</a>
      </li>
    </ul>
    <ng-template #racesMenu>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="races" routerLinkActive="router-link-active">Races</a>
            </li>
            <li class="nav-item">
                <a routerLink="/" routerLinkActive="router-link-active">Home</a>
            </li>
        </ul>
      </ng-template>
    <div class="nav navbar-nav">
      <span class="nav-item navbar-text mr-2" *ngIf="user">
        {{ user.login }}
        <span class="fa fa-star"></span>
        {{ user.money }}
      </span>
    </div>
  </div>
</nav>
