<div class="text-center" style="margin-top: 100px">
  <h1>Ponyracer <small>Always a pleasure to bet on ponies</small></h1>
</div>

<div class="text-center" *ngIf="!getAuthenticatedUser(); else racesMenu">
  <!-- insert the link with the routerLink here -->
  <a [routerLink]="['/users','login']" routerLinkActive="router-link-active"  class="btn btn-primary">Login</a>
  <span>&nbsp;</span>
  <a [routerLink]="['/users', 'register']" routerLinkActive="router-link-active"  class="btn btn-primary">Register</a>
</div>
<ng-template #racesMenu>
  <div class="text-center">
    <a routerLink="races" routerLinkActive="router-link-active"  class="btn btn-primary">Races</a>
  </div>
</ng-template>
