<form [formGroup]="userForm" (ngSubmit)="register()">
  <div class="form-group">
    <label for="login" id="login-label">Login</label>
    <input id="login" type="text" class="form-control" formControlName="login" [class.formError]="isDirtyAndRequired(loginCtrl)">
    <div class="error" *ngIf="isDirtyAndRequired(loginCtrl)">Login is required</div>
  </div>
  <div class="form-group">
    <label for="password" id="password-label">Password</label>
    <input id="password" type="password" class="form-control" formControlName="password" [class.formError]="isDirtyAndRequired(passwordCtrl)">
    <div class="error" *ngIf="isDirtyAndRequired(passwordCtrl)">Password is required</div>
  </div>
  <div class="form-group">
    <label for="birth-year" id="birth-year-label">Birth year</label>
    <input id="birth-year" type="number" class="form-control" formControlName="birthYear" [class.formError]="isDirtyAndRequired(birthYearCtrl)">
    <div class="error" *ngIf="isDirtyAndRequired(birthYearCtrl)">Birth year is required</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Let's go!</button>
</form>
